<br />
<div class="row">
    <div class="col-md-5">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-2">
        <img src="~/Content/custom_images/crown.gif" alt="Crown" width="50" style="display:block;margin:0 auto" />
    </div>
</div>
