@model string

@{
    string rows = "7";
    if (ViewData["rows"] != null)
    {
        rows = ViewData["rows"].ToString();
    }
}

<div class="form-group">
    @Html.Label("", new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextArea("", new { rows = rows, @class = "form-control", onfocus = "$(this).focusEnd()" })
        @Html.ValidationMessage("", new { @class = "text-danger" })
    </div>
</div>
