body {
    padding-top: 50px;
    padding-bottom: 20px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*#region Custom Rules */

.word-wrap {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.underline {
    text-decoration: underline;
}

ul#comments {
    list-style-type: none;
}

    ul#comments li {
        border: 1px solid gray;
        margin: 7px;
        padding: 7px;
    }

textarea {
    max-width: 400px;
}

.vertical-center td, th {
    vertical-align: middle !important;
    text-align: center;
}

.vertical-center img {
    max-height: 100px;
}

.middle{
    vertical-align:middle !important;
}

.img-laptop:hover {
    cursor: pointer;
}

.modal-dialog {
    position: absolute;
    left: 50%;
    margin-left: -312px;
    height: 500px;
    top: 50%;
    margin-top: -250px;
}

.modal-lg{
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -340px;
    margin-left: -500px;
    padding: 20px;
}

.modal-body img {
    margin: 0 auto;
}

.ui-slider {
    margin-top: 30px;
    margin-left: 5px;
}

body.modal-no-scroll,
.modal-open .modal-no-scroll {
    margin-right: 0 !important;
}

/*body.modal-open, 
.modal-open .navbar-fixed-top, 
.modal-open .navbar-fixed-bottom 
{
    margin-right: 0!important;
}*/

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

    /* style icon */
    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
        pointer-events: none;
        color: #494646;
    }

/* align icon */
.left-addon .glyphicon {
    left: 15px;
}

.right-addon .glyphicon {
    right: 0;
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

/*glyphicon fix*/

.glyphicon-bell:before {
    content: "🔔";
}

.glyphicon-bookmark:before {
    content: "🔖";
}

.glyphicon-briefcase:before {
    content: "💼";
}

.glyphicon-calendar:before {
    content: "📅";
}

.glyphicon-camera:before {
    content: "📷";
}

.glyphicon-fire:before {
    content: "🔥";
}

.glyphicon-lock:before {
    content: "🔒";
}

.glyphicon-paperclip:before {
    content: "📎";
}

.glyphicon-pushpin:before {
    content: "📌";
}

.glyphicon-wrench:before {
    content: "🔧";
}

/*#endregion */
